.slider {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  cursor: pointer;
  .splide {
    //   height: 20vh;
    width: 50%;

    .splide__arrow--prev {
      left: -6rem !important;
    }
    .splide__arrow--next {
      right: -6rem !important;
    }

    img {
      height: 15vh;
    }
    .text-icon {
      font-weight: 500;
    }
  }
}

.splide__pagination--ltr {
  position: absolute !important;
  top: 11rem !important;
}

.splide__slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-size: 35px;
  font-weight: 500;
}

.splide__pagination__page.is-active {
  background: #37517e !important;
}
.splide__pagination__page {
  margin-top: 2rem !important;
}

.body-tech {
  margin-bottom: 6rem;
}
