.domain-body {
  .topic-1 {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding-bottom: 3rem;
  }

  .domain-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 0 5rem 0 5rem;
    gap: 2rem;

    .d-left-side {
      display: flex;
      flex-direction: column;
      max-width: 37rem;
      min-width: 37rem;

      .icon-left {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;
      }

      .text-left {
        // padding: 20px 28px 20px 72px;
        // font-size: 15px;
        // height: 29vh;
        // min-height: 20vh;
        font-weight: 500;
        // margin-bottom: 5rem;
      }
      .view-btn {
        position: relative;
        font-size: 15px;
        padding: 0.7em 1.4em;
        background-color: #ff0000;
        text-decoration: none;
        border: none;
        border-radius: 0.5em;
        color: white;
        box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
        left: 4.5rem;
        bottom: 2rem;
        width: 5rem;
        top: 2px;
      }

      .view-btn::before {
        position: absolute;
        content: "";
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        background: linear-gradient(
          135deg,
          rgba(33, 33, 33, 1) 0%,
          rgba(33, 33, 33, 1) 50%,
          rgba(150, 4, 31, 1) 50%,
          rgba(191, 4, 38, 1) 60%
        );
        border-radius: 0 0 0.5em 0;
        box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
        transition: 0.3s;
      }

      .view-btn:hover::before {
        width: 1.6em;
        height: 1.6em;
      }

      .view-btn:active {
        box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
        transform: translate(0.1em, 0.1em);
      }
    }
  }

  .d-right-side {
    display: flex;
    flex-direction: column;
    max-width: 37rem;
    min-width: 37rem;

    .icon-right {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
      margin-top: 2rem;
    }

    .text-right {
      padding: 20px 28px 20px 70px;
      font-size: 15px;
      min-height: 20vh;
      font-weight: 500;
    }
    .view-btn {
      position: relative;
      font-size: 15px;
      padding: 0.7em 1.4em;
      background-color: #ff0000;
      text-decoration: none;
      border: none;
      border-radius: 0.5em;
      color: white;
      box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
      left: 4.3rem;
      bottom: 2rem;
      width: 5rem;
      top: 0;
    }

    .view-btn::before {
      position: absolute;
      content: "";
      height: 0;
      width: 0;
      top: 0;
      left: 0;
      background: linear-gradient(
        135deg,
        rgba(33, 33, 33, 1) 0%,
        rgba(33, 33, 33, 1) 50%,
        rgba(150, 4, 31, 1) 50%,
        rgba(191, 4, 38, 1) 60%
      );
      border-radius: 0 0 0.5em 0;
      box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
      transition: 0.3s;
    }

    .view-btn:hover::before {
      width: 1.6em;
      height: 1.6em;
    }

    .view-btn:active {
      box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
      transform: translate(0.1em, 0.1em);
    }
  }
}

.sec-1 {
  font-weight: bold;
  font-size: 18px;
}

.sec-2 {
  font-weight: bold;
  font-size: 18px;
}

.icon-wrapper {
  font-size: 30px !important;
}

.view-btn-left-down {
  position: relative;
  font-size: 15px;
  padding: 0.7em 1.4em;
  background-color: #ff0000;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: white;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  left: 4.5rem;
  bottom: 2rem;
  width: 5rem;
  top: 12rem;
}
.objective-group {
  font-size: 17px;
  font-weight: 500;
}

.text-left-wrapper {
  padding: 20px 28px 20px 72px;
  font-size: 15px;
}

.text-left-problem {
  padding: 20px 28px 20px 72px;
  font-size: 15px;
  font-weight: 500;
}

.list {
  margin-top: 5px;
  font-weight: 400;
}
.text-right-outcome {
  padding: 20px 28px 20px 70px;
  font-size: 15px;
  min-height: 20vh;
  font-weight: 500;
  height: 51vh;
}
