.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: #242d66;
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 100;
  .logo-wrapper {
    font-size: 28px;
    color: white;
    display: flex;
    font-weight: 500;
    gap: 0.5rem;

    .line {
      margin-top: -2px;
      color: #32c732;
    }
  }
  .nav-row {
    display: flex;
    margin-right: 8rem;
    .nav-item {
      color: white;
      font-weight: 500;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

.link-tag {
  color: white;
  text-decoration: auto;
  margin-right: 10px;

  &:hover {
    color: #32c732;
    text-decoration: auto;
  }
}

.active {
  color: #32c732;
  border-bottom: 2px solid #32c732; /* Customize the active item underline here */
}
