.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  .timeLine {
    width: 500px;
  }
}

.jCGVMh {
  padding: 5px 10px !important;
  width: 90% !important;
}

.jCGVMh {
  min-height: 70px !important;
}

.fhstIq.active {
  background: #32c732 !important;
}

.bOPcbp:not(.using-icon).active {
  background: #32c732 !important;
}
